*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
:root
{
    --blue:#287bff;
    --white:#fff;
    --grey:#f5f5f5;
    --black1:#222;
    --black2:#999;

}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.container1
{
    position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active
{
    width: 80px;

}
.navigation ul
{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
}
.navigation ul li{
    position: relative;
    width: 200%;
    list-style: none;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;

}
.navigation ul li:hover,
.navigation ul li:hovered

{
    background: var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display:block;
    width: 100%;
    display: flex;
    text-decoration:none ;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li:hovered a

{
    color: var(--black1);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

}
.navigation ul li a .icon ion-icon{
    font-size: 2.00em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space:nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li:hovered a::before

{
    content: '';
    position: absolute;
    right: 0;
    top:-50px;
    width: 50px;
    height: 50px;
    background: #f00;
    border-radius: 50%;
    box-shadow:35px 35px 0 10px var(--white);
    pointer-events :none;
}
.navigation ul li:hover a::after
.navigation ul li:hover a::before

{
    content:'';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;

}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100%-80px);
    left: 100px;
}
.topbar{
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}
.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5cm;
    cursor: pointer;

}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position:absolute;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    margin-left: 10px;
    padding:15px 45px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}
.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2cm;
}
.user{
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardBox
{
    position: absolute;
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,5fr);
    grid-gap:30px;
}
.cardBox .card{
    
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(59, 4, 4, 0.08);
}
.cardBox .card .numbers
{
    position: relative;
    font-size: 1.5cm;
    font-weight: 500;
    color: var(--black1);
}
.cardBox .card .cardName
{
    color: var(--black1);
    font-size: 1.1cm;
    margin-top: 5px;
}
.cardBox .card .iconBx
{
    font-size: 1.5cm;
    color: var(--black1);
}
.cardBox .card:hover
{
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx
{
    color:var(--white);
}
.details
{
    position: relative;
    width: 80%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 200px;

}
.details .recentorders
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08)
}
.cardHeader
{
 display: flex;
 justify-content: space-between;
 align-items: flex-start;

}
.cardHeader h2{
    font-weight: 800;
    color: var(--blue);
}
.btn{
    position: relative;
    margin-top: 10px;
    margin-left: 450px;
    padding: 5px 10px;
    background:var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thread td{
    font-weight: 600;
}
.details .recentorders table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.details .recentorders table tr:last-child
{
    border-bottom: none;
}
.details .recentorders table tr:hover{
    background: var(--blue);
    color: var(--white);
} 
.details .recentorders table tr td{
    padding: 10px;
}
.details .recentorders table tr:last-child{
    border-bottom: none;
}
.details .recentorders table tbody tr:hover{
    background: var(--blue);
    color: var(--white);
}
.status.delivered
{
    padding: 2px 4px;
    background:rgb(66, 206, 23) ;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.Arrived
{
    padding: 2px 4px;
    background:rgb(213, 15, 157) ;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.Checked
{
    padding: 2px 4px;
    background:rgb(106, 108, 209) ;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.waited
{
    padding: 2px 4px;
    background:rgb(247, 167, 9) ;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.Not-Arrived{
    padding: 2px 4px;
    background:rgb(6, 214, 62) ;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.piechart { 
    margin-top: 300px; 
    display: block; 
    position: absolute; 
    width: 400px; 
    height: 400px; 
    border-radius: 50%; 
    background-image: conic-gradient( 
        pink 70deg,  
        lightblue 0 235deg,  
        orange 0); 
} 

.piechart { 
    display: flex; 
    margin-top:70px ;
    margin-left: 700px;
    align-items: center; 
} 
.kv{
    position: absolute;
    height: 200%;
    width: 50%;
    margin-top: 110px;
    border-radius: 100%;
    margin-left: 360px; 
    padding: 20px;
    display: grid;
    
}
.mv{
    margin-left: 400px;
    margin-top: -550px;
}
.sm{
    margin-left: 1000px;
    margin-top: -100px;
}
.mk{
    margin-left:800px ;
    margin-top:-550px ;
}
.item{
    margin-top: 80px;
}
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}